@charset "UTF-8";

h1 {
    width: 300px; 
    height: 50px;
    background-color: lightgray;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    padding: 20px;
    outline-width: 30px;
    outline-style: solid;
    outline-color: blue;
    margin: 50px;
}

#personalizado {
    border: 10px solid yellow;
    outline: 30px solid rgb(166, 255, 0);
    padding: 10px 15px 20px 25px;
    margin: 0px 10px 20px 30px;
}
