@charset "UTF-8";
@font-face {
    font-family: 'idroid' ;
    src: url('fontes/idroid.otf') format('opentype');
}


body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkgreen;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    text-align: center;
}
header > p {
    text-align: center;
}

main {
    background-color: white;
    margin: 0px 200px;
}

main > h1 {
    font-family: idroid;
    color: green;
}

main > p {
    text-align: justify;
    text-indent: 40px;
}

main > h2 {
    font-family: idroid;
    background-color: lightgreen;
    color: green;
    margin: 0px 20px ;
}

footer{
    text-align: center;
}