@charset "UTF-8";

* { /* configuração global */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #0090B8, #0056B8);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #001CB8;
    width: 800px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #001CB8;
    text-align: center;
    text-shadow: 1px 1px 1px #001cb834;
}

h2 {
    color: #00B866;
}