@charset "UTF-8";

body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1 {
    color: red;
}
h2 {
    color: yellowgreen;
}
p {
    text-align: justify;
}
h3 {
    color: gray;
}