@charset "UTF-8";

body {
    background-image: radial-gradient(circle, green 50%, yellow 80%, red 1%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1 {
    color: red;
}
h2 {
    color: yellowgreen;
}
p {
    text-align: justify;
}
h3 {
    color: rgba(11, 46, 202, 0.452);
}