@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #4DB178;
    --cor1: #538A6B;
    --cor2: #3BDB81;
    --cor3: #475C50;
    --cor4: #236340;
    --cor5: #00421D;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header {
    background-color: var(--cor5);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
}

header > p {
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

main h1 {
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
}