@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;

}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
p {
    font: italic bold 1em Arial, Helvetica, sans-serif;
    text-align: left;
}