@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightgray;
}

article > aside {
    background-color: rgb(155, 155, 155);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

